{
  "presets": ["next/babel"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-do-expressions"
    //"transform-decorators-legacy"
    //"@babel/plugin-transform-modules-commonjs"
  ]
}
